.scroll-float {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.scroll-float-text {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  line-height: inherit;
  font-family: inherit;
}

.char {
  display: inline-block;
}
